<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854438136017-a1eb1klkhcg4n7dg89thpelo6sl3rtie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854438136017-a1eb1klkhcg4n7dg89thpelo6sl3rtie</string>
	<key>API_KEY</key>
	<string>AIzaSyA3MEK7NXo8uCdYRLWA_wacymOYlJfQ3rY</string>
	<key>GCM_SENDER_ID</key>
	<string>854438136017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>info.baveku.GapoiOSChallenge</string>
	<key>PROJECT_ID</key>
	<string>gapoioschallenge</string>
	<key>STORAGE_BUCKET</key>
	<string>gapoioschallenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854438136017:ios:f17fec4d1ee99a20405df0</string>
	<key>DATABASE_URL</key>
	<string>https://gapoioschallenge.firebaseio.com</string>
</dict>
</plist>